
.pagination {
    text-transform: uppercase;
    align-items: flex-end;
    > .page-item {
      margin-left: 4px;
      .page-link {
        border-radius: 2px;
        background-color: #fff;
        border-color: silver;
        color: #222;

        &:focus {
            text-decoration: none;
            box-shadow: none;
            outline: 1px dotted palette("gray", "dark-30");
        }
        &:hover {
            background-color: palette('gray', 'light-20');
        }
      }
  
      &.active {
        .page-link {
          background-color: #e1e3e6;
          box-shadow: none;
          outline: none;
        }
      }
  
      &.disabled {
        .page-link {
          pointer-events: none;
          border-color: palette('gray', 'light-10');
          box-shadow: none;
          color: palette('gray', 'base');
          opacity: 1;
          &:hover {
            background-color: palette('gray', 'light-40');
          }
        }
      }
  
      &:first-child {
        margin-left: 0;
        .page-link {
          border-radius: 2px;
        }
      }
  
      &:last-child {
        margin-right: 0;
      }
    }
  }