@import '../../variables';

input[type='radio']:hover {
    cursor: pointer;
}

input[type='radio']:after {
    width: 1.05rem !important;
    height: 1.05rem !important;
    border-radius: 100% !important;
    top: 0;
    left: -1px;
    position: relative;
    background-color: $white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid map-get($colors-gray, 'base');
}

input[type='radio']:checked:after {
    width: 1.05rem !important;
    height: 1.05rem !important;
    border-radius: 1.15rem !important;
    top: 0;
    left: -1px;
    position: relative;
    background-color: $blue;
    border-color: $blue !important;
    content: '';
    background-size: 1.05rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath fill='%23fff' d='M12,20c-4.41,0-8-3.59-8-8s3.59-8,8-8s8,3.59,8,8S16.41,20,12,20z M12,7c-2.76,0-5,2.24-5,5s2.24,5,5,5s5-2.24,5-5S14.76,7,12,7z'/%3e%3c/svg%3e");
    // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    display: inline-block;
    visibility: visible;
    border: 2px solid map-get($colors-gray, 'base');
}

input[type='radio'].radio-danger:checked {
  &:after {
    background-color: $red;
    border-color: $red !important;
  }
}

input[type='radio'].radio-success:checked {
  &:after {
    background-color: $green;
    border-color: $green !important;
  }
}

input[type='radio'].radio-warning:checked {
  &:after {
    background-color: $yellow;
    border-color: $yellow !important;
  }
}