// Global
@import '../../config';
// stylelint-disable
@function setopacity($color, $value) {
  @return rgba(red($color), green($color), blue($color), $value);
}

button:focus {
  outline: 1px dotted palette("gray", "dark-30");
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: $base-font;
  text-transform: uppercase;
  border-radius: $border-radius-sm;
  > .material-icons {
    vertical-align: middle;
  }
  &:before {
    font-weight: normal;
  }
  &.btn-secondary {
    background-color: palette('gray', 'light-40');
    border-color:  palette('gray', 'base');
    color: palette('gray', 'dark-30');
    &:hover,
    &:focus {
      background-color: palette('gray', 'light-20');
    }

    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active,
    &:active,
    &.active {
      background-color: palette('gray', 'light-10');
      border-color:  palette('gray', 'base');
      color: palette('gray', 'dark-30');
    }
    &[disabled],
    &.disabled {
      &:hover {
        background-color: palette('gray', 'light-40');
      }
      border-color:  palette('gray', 'light-10');
      box-shadow: none;
      color: palette('gray', 'base');
      opacity: 1;
    }
    &.dropdown-toggle {
      border-left: 1px solid palette('gray', 'base');;
      z-index: 2;
    }
  }
  &.btn-success {
    background-color: palette('green', 'dark-10');
    border-color:  palette('green', 'dark-10');
    color: palette('gray', 'light-40');
    &:hover,
    &:focus {
      background-color: palette('green', 'dark-20');
      border-color:  palette('green', 'dark-20');
    }
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active,
    &:active,
    &.active {
      background-color: palette('green', 'dark-30');
      border-color:  palette('green', 'dark-30');
      color: palette('gray', 'light-40');
    }
    &[disabled],
    &.disabled {
      background-color: palette('green', 'light-20');
      border-color:  palette('green', 'light-20');
      box-shadow: none;
      color: palette('gray', 'light-40');
      opacity: 1;
    }
    &.dropdown-toggle {
      border-left: 1px solid setopacity(palette('gray', 'light-40'), .4);
      z-index: 2;
    }
  }
  &.btn-primary {
    background-color: palette('blue', 'base');
    border-color:  palette('blue', 'base');
    color: palette('gray', 'light-40');
    &:hover,
    &:focus {
      background-color: palette('blue', 'dark-10');
      border-color:  palette('blue', 'dark-10');
    }
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active,
    &:active,
    &.active {
      background-color: palette('blue', 'dark-20');
      border-color:  palette('blue', 'dark-20');
      color: palette('gray', 'light-40');
    }
    &[disabled],
    &.disabled {
      background-color: palette('blue', 'light-20');
      border-color:  palette('blue', 'light-20');
      box-shadow: none;
      color: palette('gray', 'light-40');
      opacity: 1;
    }
    &.dropdown-toggle {
      border-left: 1px solid setopacity(palette('gray', 'light-40'), .4);
      z-index: 2;
    }
  }
  &.btn-danger {
    background-color: palette('red', 'base');
    border-color:  palette('red', 'base');
    color: palette('gray', 'light-40');
    &:hover,
    &:focus {
      background-color: palette('red', 'dark-10');
      border-color:  palette('red', 'dark-10');
    }
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active,
    &:active,
    &.active {
      background-color: palette('red', 'dark-20');
      border-color:  palette('red', 'dark-20');
      color: palette('gray', 'light-40');
    }
    &[disabled],
    &.disabled {
      background-color: palette('red', 'light-20');
      border-color:  palette('red', 'light-20');
      box-shadow: none;
      color: palette('gray', 'light-40');
      opacity: 1;
    }
    &.dropdown-toggle {
      border-left: 1px solid setopacity(palette('gray', 'light-40'), .4);
      z-index: 2;
    }
  }
  &.btn-warning {
    background-color: palette('yellow', 'base');
    border-color:  palette('yellow', 'base');
    color: palette('gray', 'dark-30');
    &:hover,
    &:focus {
      background-color: palette('yellow', 'dark-10');
      border-color:  palette('yellow', 'dark-10');
    }
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active,
    &:active,
    &.active {
      background-color: palette('yellow', 'dark-20');
      border-color:  palette('yellow', 'dark-20');
      color: palette('gray', 'dark-30');
    }
    &[disabled],
    &.disabled {
      background-color: palette('yellow', 'light-10');
      border-color:  palette('yellow', 'light-10');
      box-shadow: none;
      color: palette('gray', 'light-40');
      opacity: 1;
    }
    &.dropdown-toggle {
      border-left: 1px solid setopacity(palette('gray', 'light-40'), .4);
      z-index: 2;
    }
  }
  &.btn-info {
    background-color: palette('aqua', 'light-10');
    border-color:  palette('aqua', 'light-10');
    color: palette('gray', 'dark-30');
    &:hover,
    &:focus {
      background-color: palette('aqua', 'base');
      border-color:  palette('aqua', 'base');
    }
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active,
    &:active,
    &.active {
      background-color: palette('aqua', 'dark-10');
      border-color:  palette('aqua', 'dark-10');
      color: palette('gray', 'light-40');
    }
    &[disabled],
    &.disabled {
      background-color: palette('aqua', 'light-20');
      border-color:  palette('aqua', 'light-20');
      box-shadow: none;
      color: palette('gray', 'light-40');
      opacity: 1;
    }
    &.dropdown-toggle {
      border-left: 1px solid setopacity(palette('gray', 'light-40'), .4);
      z-index: 2;
    }
  }
  &.btn-link {
    color: palette('gray', 'dark-20');
    text-decoration: none;
    &:hover,
    &:focus {
      background-color: palette('gray', 'light-20');
      color: palette('gray', 'dark-30');
    }
    &:active,
    &.active {
      background-color: palette('gray', 'light-10');
      color: palette('gray', 'dark-30');
    }
    &[disabled],
    &.disabled {
      &:hover {
        background-color: palette('gray', 'light-40');
      }
      color: palette('gray', 'base');
      opacity: 1;
    }
  }
}

.btn-group {
  .btn-info + .btn-info {
    border-left: 1px solid setopacity(palette('gray', 'light-40'), .4);
  }
  .btn-warning + .btn-warning {
    border-left: 1px solid setopacity(palette('gray', 'light-40'), .4);
  }
  .btn-danger + .btn-danger {
    border-left: 1px solid setopacity(palette('gray', 'light-40'), .4);
  }
  .btn-primary + .btn-primary {
    border-left: 1px solid setopacity(palette('gray', 'light-40'), .4);
  }
  .btn-success + .btn-success {
    border-left: 1px solid setopacity(palette('gray', 'light-40'), .4);
  }
  .btn-default + .btn-default {
    border-left: 1px solid palette('gray', 'base');
  }
}

// Permite o uso do title em botão com a classe btn-link que estiver desabilitado
button.btn-link:disabled {
  pointer-events: all;
}

/** Botões **/

/** Deletar btn-add no futuro **/

.btn.btn-add:before {
  content: '\f0415';
  display: inline-block;
  font-family: $base-icon;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-right: 5px;
  margin-top: -1px;
  padding-right: 0;
  vertical-align: middle;
}
.btn.btn-lg.btn-add:before {
  font-size: 20px;
}

.btn-circle {
  height: 50px;
  width: 50px;
  border-radius: 50%!important;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

/** .Botões **/