// Global
@import '../../variables';
.row-no-gutter {
  [class*='col-'] {
    &:not(:last-child) {
      padding-right: 0;
    }
    &:not(:first-child) {
      padding-left: 0;
    }
  }
}

.col {
  $dirs: 'left' 'right';
  @each $dir in $dirs {
    &-divider-#{$dir} {
      border-#{$dir}: 1px solid palette('gray', 'light-10');
    }
  }
}

@media (max-width: 767px) {
  [class*='col-xs-12'] + [class*='col-xs-'] {
    margin-top: 10px;
  }
  .col {
    $dirs: 'left' 'right';
    @each $dir in $dirs {
      &-divider-#{$dir} {
        border-#{$dir}: none;
        &--visible-xs {
          border-#{$dir}: 1px solid palette('gray', 'light-10');
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  [class*='col-sm-12'] + [class*='col-sm-'] {
    margin-top: 10px;
  }
  .col {
    $dirs: 'left' 'right';
    @each $dir in $dirs {
      &-divider-#{$dir} {
        border-#{$dir}: none;
        &--visible-sm {
          border-#{$dir}: 1px solid palette('gray', 'light-10');
        }
      }
    }
  }
}

.row {
  margin: 0 -4px 10px;
  [class*='col'] {
    padding-left: 4px;
    padding-right: 4px;
  }
}