// Global
@import '../../functions';
@import '../../mixins';
@import '../../variables';
@include make-colors('color', '.tx__');
@include make-colors('background-color', '.bg__');

/** Fixadores **/

.top-0 {
    top:0;
}

.right-0 {
    right:0;
}

.bottom-0 {
    bottom:0;
}

.left-0 {
    left:0;
}

/** z-index **/

.zindex-n1 {
    z-index: -1;
}

.zindex-0 {
    z-index:0;
}

.zindex-1 {
    z-index: 1000;
}

.zindex-2 {
    z-index: 1020;
}

.zindex-3 {
    z-index: 1030;
}

.zindex-4 {
    z-index: 1030;
}

.zindex-5 {
    z-index: 1050;
}

.zindex-6 {
    z-index: 1060;
}

.zindex-7 {
    z-index: 1070;
}

/** Tamanhos (avatares) **/

.avatar {
    border:1px solid #fff;
    border-radius: 50% !important;
    object-fit: cover;
    object-position: center center;
}

.size-1 {
    width: 1.75rem;
    height: 1.75rem;
}

.size-2 {
    width: 2.25rem;
    height: 2.25rem;
}

.size-3 {
    width: 3.25rem;
    height: 3.25rem;
}

.size-4 {
    width: 5rem;
    height: 5rem;
}

.size-5 {
    width: 7.5rem;
    height: 7.5rem;
}

/** Object-fit **/

.object-cover {
    object-fit: cover;
    object-position: center center;
}


