// Global
@import "../../variables";
.breadcrumb {
  background: transparent;
  margin: 0;
  padding: 0;
  align-items: flex-end;
  .breadcrumb-item {
    color: palette("gray", "dark-10");
    &.active {
      color: palette("gray", "dark-30");
    }
    + :before {
      color: palette("gray", "dark-10");
      content: "\f0142";
      font-family: $base-icon;
      font-weight: 300;
    }
  }
}
