@import '../../config';
$root: '.bth-calendar';
$rootMonth: $root+'--month';
$rootYear: $root+'--year';
#{$root} {
  width: 100%;
  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  &__table {
    width: 100%;
    td,
    th {
      text-align: center;
    }
    td {
      &.today button {
        font-weight: 700;
      }
      &.weekend button {
        color: palette('gray', 'dark-10');
      }
      &:first-child button {
        margin-left: 0;
      }
      &:last-child button {
        margin-right: 0;
      }
    }
    button,
    .btn-xs {
      margin: 3px;
      padding: 2px;
      text-align: center;
      width: 22px;
    }
    tbody tr:last-child button {
      margin-bottom: 0;
    }
  }
  &__status {
    list-style: none;
    margin: 0;
    padding: 12px 0 0;
    li {
      font-size: 11px;
    }
  }
}

#{$rootMonth},
#{$rootYear} {
  .bth-calendar__table button {
    width: 37px;
  }
}