@import "../../config";

/* tamanhos de modal */

.modal .modal-xxl {
  width: 1140px;
}

.modal .modal-xl {
  width: 1000px;
}

.modal .modal-sm {
  width: 800px;
}

.modal .modal-xs {
  width: 300px;
}

.modal-header,
.modal-footer {
  border-color: palette("gray", "light-30");
}


/* ajuste do tamanho da modal xxl para monitores menores */

@media (max-width: 1024px) {
  .modal {
    .modal-xxl {
      width: 1020px;
    }
  }
}
