@import '../../variables';

input[type='checkbox']:hover {
    cursor: pointer;
}

.form-check-input {
  margin-top: .2rem;
}

.form-check-label {
  padding-left: 0.25rem;
}

.form-check-label > .form-check-input {
  margin-left: -0.15rem !important;
}

.form-check-inline {
    display: inline-block;
    margin-right: 1rem;
}

.form-check-inline .form-check-input {
  display: inline-block !important;
}

.form-check-inline .form-check-input {
  /* position: static; */
  margin-top: 0;
  margin-right: .3125rem;
  margin-left: 0;
}

input[type='checkbox']:after {
  width: 1.1rem !important;
  height: 1.1rem !important;
  border-radius: .15rem !important;
  top: 0px;
  left: -2px;
  position: relative;
  background-color: $white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid map-get($colors-gray, 'base');
}

input[type='checkbox']:checked:after {
  width: 1.1rem !important;
  height: 1.1rem !important;
  border-radius: .15rem !important;
  top: 0;
  left: -2;
  position: relative;
  content: '';
  background-size: 1rem;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpolygon fill='%23fff' points='19.59,4.88 9,15.46 4.91,11.38 2.79,13.5 9,19.71 21.71,7 '/%3e%3c/svg%3e");
  background-color: $blue;
  border-color: $blue !important;
  display: inline-block;
  visibility: visible;
  border: 1px solid map-get($colors-gray, 'base');
}

input[type='checkbox'].checkbox-success:checked {
  &:after {
    background-color: $green;
    border-color: $green !important;
  }
}

input[type='checkbox'].checkbox-danger:checked {
  &:after {
    background-color: $red;
    border-color: $red !important;
  }
}

input[type='checkbox'].checkbox-warning:checked {
  &:after {
    background-color: $yellow;
    border-color: $yellow !important;
  }
}