@import '../../config';

$pathImages: $assets-url + 'images/empty/';

// Attach
.bth-attach-empty {
  background: transparent url($pathImages + 'attach.svg') no-repeat center center;
  background-size: 200px;
  padding-bottom: 20px;
  padding-top: 250px;
  text-align: center;
}

.bth-attach-empty__description {
  font-size: 18px;
  margin: 0;
}

$root: '.bth-empty';
$states: (
  404: (
    height: '180px',
    width: '250px'
  ),
  user-expired: (
    height: '130px',
    width: '125px'
  ),
  filter: (
    height: '160px',
    width: '250px'
  ),
  indicators: (
    height: '215px',
    width: '250px'
  ),
  notification: (
    height: '125px',
    width: '125px'
  ),
  offline: (
    height: '90px',
    width: '125px'
  ),
  online: (
    height: '90px',
    width: '125px'
  ),
  records: (
    height: '200px',
    width: '250px'
  ),
  list: (
    height: '200px',
    width: '250px'
  )
);

#{$root} {
  background-color: transparent;
  background-position-x: center;
  background-repeat: no-repeat;
  padding-bottom: 20px;
  text-align: center;
  h3 {
    font-size: 24px;
    margin: 0;
  }
  p {
    font-size: 14px;
    margin-top: 10px;
  }
}

@each $name, $value in $states {
  #{$root + '--' + $name} {
    background-image: url($pathImages + $name + '.svg');
    background-position-y: 20px;
    background-size: #{map-get($value, 'width')};
    padding-top: calc(#{map-get($value, 'height')} + 40px);
  }
}